<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-vuforia"
        version="1.0.1">
    <name>Vuforia</name>
    <description>Cordova Vuforia Plugin</description>
    <license>MIT</license>

    <asset src="www/cordova-vuforia.js" target="js/cordova-vuforia.js" />

    <js-module name="CordovaVuforia" src="www/cordova-vuforia.js">
        <clobbers target="CordovaVuforia" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <!-- Plugin Config -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VuforiaPlugin" >
                <param name="android-package" value="com.hoperun.cordova.vuforia.CordovaVuforiaPlugin"/>
            </feature>
        </config-file>

        <!-- Add our activities to the Android Manifest -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

        </config-file>
        
        <!-- Add our required strings -->
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="button_OK">OK</string>
        </config-file>

        <!-- Add our permissions to the Android Manifest -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:glEsVersion="0x00020000" />
            <uses-feature android:name="android.hardware.camera" />

            <uses-permission android:name="android.permission.CAMERA" />

            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

		<!-- Libraries -->
		<source-file src="src/vuforia/android/jniLibs/arm64-v8a/libVuforia.so" target-dir="libs/arm64-v8a" />
		<source-file src="src/vuforia/android/jniLibs/armeabi-v7a/libVuforia.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/vuforia/android/jniLibs/x86/libVuforia.so" target-dir="libs/x86" />
        <source-file src="src/vuforia/android/Vuforia.jar" target-dir="libs" />

        <source-file src="src/loadobj/android/jniLibs/arm64-v8a/libLoadOBJAPI.so" target-dir="libs/arm64-v8a" />
		<source-file src="src/loadobj/android/jniLibs/armeabi-v7a/libLoadOBJAPI.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/loadobj/android/jniLibs/x86/libLoadOBJAPI.so" target-dir="libs/x86" />
        <source-file src="src/loadobj/android/LoadOBJAPI.jar" target-dir="libs" />

        <!-- Plugin Source -->
        <source-file src="src/android/CordovaVuforiaPlugin.java" target-dir="src/com/hoperun/cordova/vuforia" />

		<source-file src="src/android/java/ApplicationControl.java" target-dir="src/com/hoperun/cordova/vuforia" />
		<source-file src="src/android/java/ApplicationException.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/ApplicationRenderer.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/ApplicationRendererControl.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/ApplicationSession.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/ARVideoRenderer.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/CordovaVuforia.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/RefFreeFrame.java" target-dir="src/com/hoperun/cordova/vuforia" />
        <source-file src="src/android/java/RefFreeFrameGL.java" target-dir="src/com/hoperun/cordova/vuforia" />
        
        <source-file src="src/android/java/utils/ARModelDisplayView.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/ARModelRenderer.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/ARVideoDisplayView.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/GlUtil.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/ImageInfo.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/Math.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/MatrixParam.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/Texture.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/Utils.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/VideoBackgroundShader.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />
        <source-file src="src/android/java/utils/VuforiaImageInfo.java" target-dir="src/com/hoperun/cordova/vuforia/utils" />

        <!-- Include our resources -->
        <resource-file src="targets/PluginTest.dat" target="assets/PluginTest.dat" />
        <resource-file src="targets/PluginTest.xml" target="assets/PluginTest.xml" />
        <resource-file src="targets/StonesAndChips.dat" target="assets/StonesAndChips.dat" />
        <resource-file src="targets/StonesAndChips.xml" target="assets/StonesAndChips.xml" />
        <resource-file src="models/cordova_vuforia_test.png" target="assets/models/cordova_vuforia_test.png" />
    </platform>

    <!-- ios -->
</plugin>
